body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  padding: 50px;
}

h1 {
  color: #ff4500;
}

button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 26px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #005f75;
}

p {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
}
